{% block extends %}
{{ "{% extends app.request.isxmlhttprequest ? '::base.html.twig' : 'RBAdminBundle::index.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}

    <table class="record_properties table">
        <tbody>
        {%- for field, metadata in fields %}
            <tr>
                <th>{{ field|capitalize }}</th>
            {%- if metadata.type in ['date', 'datetime'] %}
                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</td>
            {%- else %}
                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>
            {%- endif %}
            </tr>
        {%- endfor %}
        </tbody>
    </table>
{{ "{% endblock %}" }}
{% endblock body %}


