{% block extends %}
{{ "{% extends app.request.isxmlhttprequest ? '::base.html.twig' : 'RBAdminBundle::index.html.twig' %}" }}
{% endblock extends %}
    {{ '{% set crudEntity = "'~ bundle ~':'~ entity_singularized ~'" %}' }}

{{ "{% block subtitle %}" }}
    {{ "{{ "~ entity_singularized ~" }}" }}
{{ "{% endblock %}" }}

{% block body %}
{{ "{% block body %}" }}

{{ '{{ menu_edit("'~ route_name_prefix ~'", delete_form) }}' }}
{{ "{# Panel  #}" }}
<div class="panel panel-default">
    <div class="panel-body">
        {{ '{{ form_start(edit_form,{action:path("'~route_name_prefix~'_edit",{id:'~ entity_singularized ~'.id}),attr:{class:"form-live"}}) }}' }}

        {%- for field, metadata in fields %}
            {% if field != "id" %}
                {{ '{{ form_row(edit_form.' ~ field ~ ',{attr:{class:"form-control"}}) }}' }}
            {% endif %}
        {%- endfor %}
        <hr>
        <button type="submit" class="btn btn-success btn-crud-submit">save</button>
        {# '{{ form_row(edit_form.submit,{attr:{class:"btn btn-success btn-crud-submit"}}) }}' #}

        {{ '{{ form_end(edit_form) }}' }}
    </div>
</div>
{{ "{# End Panel :   #}" }}

{{ "{% endblock %}" }}
{% endblock body %}
