{{ "{% extends app.request.isxmlhttprequest ? '::base.html.twig' : 'RBAdminBundle::index.html.twig' %} "}}

{{ "{% block title %}<h1>Welcome to the "~ controller ~ " : "~ action.basename ~ " page</h1>{% endblock %} "}}
{{ "{% block bodyClass %}{% endblock %} "}}

{{ "{% block body -%} "}}
<h1>Welcome to the {{ controller }}:{{ action.basename }} page</h1>
{{ "{% endblock %} "}}